@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --main__color: brown;
  --white: #fff;
  --black: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  overflow-x: hidden;
}

.error__message {
  color: #ff0000;
  display: none;
}

.banner {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 0 20px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.193),
      rgba(0, 0, 0, 0.284)
    ),
    url('imgs/bg_3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 600px;
  max-height: 60vh;
  background: var(--white);
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  place-items: center;
}

.container::-webkit-scrollbar {
  width: 7px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.banner .container .formTask {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

.banner .container .formTask .taskInput {
  outline: none;
  border: none;
  border-bottom: 1.5px solid var(--black);
  width: 100%;
  padding: 8px 5px;
}

.banner .container .formTask .addTask {
  padding: 3px 30px;
  margin-left: 10px;
  cursor: pointer;
  background: var(--main__color);
  color: var(--white);
  border: 1px solid #111;
  outline: none;
  transition: background 0.3s ease-in-out;
}

.banner .container .formTask .addTask:hover {
  background: transparent;
  color: var(--black);
}

main {
  width: 100%;
}

main .tasks__container .task {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

main .tasks__container .task .delete__btn {
  padding: 5px 22px;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: background 0.3s ease-in-out;
}

main .tasks__container .task .delete__btn:hover {
  background: var(--main__color);
  color: var(--white);
}

/* Responsive */

@media (max-width: 530px) {
  .banner .container .welcomeMessage {
    font-size: 15px;
  }
  .container {
    max-width: 400px;
  }
  .banner .container .formTask {
    width: 100%;
    flex-direction: column;
  }
  .banner .container .formTask .addTask {
    margin-top: 10px;
  }

  .banner .container .formTask .addTask {
    margin-left: 0px;
  }
}
