@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --main__color: brown;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.banner {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 0 20px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.193),
      rgba(0, 0, 0, 0.284)
    ),
    url('imgs/bg_4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-height: 60vh;
  max-width: 600px;
  background: var(--white);
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  place-items: center;
}

.container::-webkit-scrollbar {
  width: 7px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.banner .container .formTask {
  /*  display: flex;
  align-items: center;
  justify-content: center; */
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}

.banner .container .formTask .taskInput {
  width: 400px;
  padding: 8px 5px;
  outline: none;
  border-radius: 4px;
}

.banner .container .formTask .addTask {
  padding: 8px 20px;
  cursor: pointer;
}

main .tasks__container .task {
  display: flex;
  justify-content: space-around;
}
